@model SafeIn_mvs_test.ViewModels.EmployeeViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<head>
    <script defer src="modal-popup.js"></script>
</head>

<link rel="stylesheet" href="~/css/employee_page.css" asp-append-version="true" />

<div class="employee_information">
    <h1 class="employee_company">@localizer["Company"]: @Model.company</h1>
    <h3 class="employee_name">@localizer["Employee"]: @Model.name</h3>
    <h3 class="employee_email">@localizer["Email"]: @Model.email</h3>
    
    <div class="create_qr_code">
        <a href="/Employee/QrCode" role="button">
            <div class="create_qr_code_button">
                <p>@localizer["CreateQR"]</p>
            </div>
        </a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>

<script>
  setTimeout(function() {
        $('#dialog').modal('hide'); 
  }, 5000); 
</script>
