@model SafeIn_mvs_test.ViewModels.EmployeeViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<head>
    <script defer src="modal-popup.js"></script>
</head>
<a href="@Url.Action("Edit", "UserManagement")"><i style="font-size:24px" class="fa">&#xf013;</i></a>
<div class="center">
    <h1>@localizer["Company"]: @Model.company</h1>
    <h3>@localizer["Employee"]: @Model.name</h3>
    <h5>@localizer["Email"]: @Model.email</h5>
    <a class="btn btn-outline-primary" href="/Employee/QrCode" role="button">@localizer["CreateQR"]</a>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>

<script>
  setTimeout(function() {
        $('#dialog').modal('hide'); 
  }, 5000); 
</script>
<style>
    .center {
        text-align: center;
    }
</style>