@{
    ViewData["Title"] = "Admin Page";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model SafeIn_mvs_test.ViewModels.AllEmployeeViewModel

<link rel="stylesheet" href="~/css/admin_page.css" asp-append-version="true" />

<div class="employee_list_body">
    <div class="employee_title">
        <h1>@localizer["AllEmployees"]</h1>
    </div>
    <div class="new_employee">
        <a href="~/Admin/CreateEmployee" role="button">
        <div class="new_employee_button">
            <p>@localizer["NewEmployee"]</p>
        </div>
    </a>
    </div>

    <table>
        <thead>
        <tr>
                <th>@localizer["UserName"]</th>
                <th>@localizer["Email"]</th>
                <th>@localizer["Action"]</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var us in Model.Employees)
            {
                <tr>
                    <td>@us.userName</td>
                    <td>@us.email</td>
                    <th>
                       <a class="btn btn-danger delete"
                       data-email="@us.email"
                       data-controller="Admin"
                       data-action="DeleteEmployeeAsync"
                       data-body-message="@localizer["ConfirmMessage"] @us.userName?">
                            @localizer["Delete"]
                        </a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>

