@{
    ViewData["Title"] = "Admin Page";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model SafeIn_mvs_test.ViewModels.AllEmployeeViewModel
<style>
    table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
    }

    th, td {
        border: 1px solid silver;
    }
</style>
<a href="@Url.Action("Edit", "UserManagement")"><i style="font-size:24px" class="fa">&#xf013;</i></a>
<div class="text-center">
    <h1 class="display-4">@localizer["AllEmployees"]</h1>
    <a class="btn btn-primary btn-sm" href="~/Admin/CreateEmployee">@localizer["NewEmployee"]</a>
    <table>
        <thead>
        <tr>
                <th>@localizer["UserName"]</th>
                <th>@localizer["Email"]</th>
                <th>@localizer["Action"]</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var us in Model.Employees)
            {
                <tr>
                    <td>@us.name</td>
                    <td>@us.email</td>
                    <th>
                       <a class="btn btn-danger delete"
                       data-email="@us.email"
                       data-controller="Admin"
                       data-action="DeleteEmployeeAsync"
                       data-body-message="@localizer["ConfirmMessage"] @us.name?">
                            @localizer["Delete"]
                        </a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>

