@model SafeIn_mvs_test.Models.EditModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/settings.css" asp-append-version="true" />

<div class="SettingsBody">
    <div class="SettingsTitle">
        <h2>@localizer["Settings"]</h2>
        @if (TempData["EditError"] != null)
        {
            <div class="edit_error">@localizer["EditError"]</div>
        }
    </div>
    @using (Html.BeginForm("EditAsync", "UserManagement", FormMethod.Post))
    {
        <div class="InputField">
           
            @Html.TextBoxFor(m => m.userName, new {@class = "form-control", @Value = Model.userName, type = "userName", placeholder = @localizer["UserName"].Value, required = "required"})
            @Html.ValidationMessageFor(m => m.userName, "", new { @class = "error" })
        </div>
        <div class="InputField">
            @Html.TextBoxFor(m => m.email, new {@class = "form-control", @Value = Model.email, type = "email", placeholder = @localizer["Email"].Value, required = "required"})
            @Html.ValidationMessageFor(m => m.email, "", new { @class = "error" })
        </div>
        <div class="InputField">
            @Html.TextBoxFor(m => m.currentPassword, new {@class = "form-control", type = "password", placeholder = @localizer["CurrentPassword"].Value})
            @Html.ValidationMessageFor(m => m.currentPassword, "", new { @class = "error" })
        </div>
        <div class="InputField">
            @Html.TextBoxFor(m => m.password, new {@class = "form-control", type = "password", placeholder = @localizer["NewPassword"].Value})
            @Html.ValidationMessageFor(m => m.password, "", new { @class = "error" })
        </div>
        <div class="SubmitButton">
            <button type="submit">@localizer["Submit"]</button>
        </div>
    }
</div>