@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model SafeIn_mvs_test.ViewModels.LoginViewModel
@using Microsoft.Extensions.Localization;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<section class="LoginPage">
    <div class="language">
        <partial name="_Culture"/>
    </div>
    <div class="LoginBody animate__animated animate__zoomIn">
        @using (Html.BeginForm("LoginPostAsync", "UserManagement", FormMethod.Post))
        {

            <div class="LoginTitle">
                <h2>@localizer["Login"]</h2>
                <p>@localizer["Enter log and pass"]</p>
            </div>


            <div class="Email">
                <p class="EmailTitle">@localizer["Email"]</p>
                @Html.TextBoxFor(m => m.Email, new { type = "email", required = "required"})
            </div>

            <div class="Password">
                <p class="PasswordTitle">@localizer["Password"]</p>
                @Html.TextBoxFor(m => m.Password, new { type = "password", required = "required"})
            </div>

            if (TempData["errorLoginMessage"] != null)
            {
                <div class="login_error">@localizer["LoginError"]</div>
            }

            <div class="LoginButton">
                <button type="submit">@localizer["Login"]</button>
            </div>
            
            
@*                              
            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>

            </div>*@
        }
    </div>
</section>

