@{
    ViewData["Title"] = "Admins Page";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model SafeIn_mvs_test.ViewModels.AllAdminsViewModel

<link rel="stylesheet" href="~/css/admin_page.css" asp-append-version="true" />

<div class="admin_list_body">

    <div class="admin_title">
        <h1>@localizer["AllAdmins"]</h1>
    </div>
    <div class="new_admin">
        <a href="~/SuperAdmin/CreateAdmin" role="button">
            <div class="new_admin_button">
                <p>@localizer["NewAdmin"]</p>
            </div>
        </a>
    </div>
    <div class="users_table">
        <table>
            <thead>
                <tr>
                    <th>@localizer["UserName"]</th>
                    <th>@localizer["Email"]</th>
                    <th>@localizer["Company"]</th>
                    <th>@localizer["Action"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var us in Model.Admins)
                {
                    <tr>
                        <td>@us.userName</td>
                        <td>@us.email</td>
                        <td>@us.company</td>
                        <th>
                           <a class="btn btn-danger delete"
                           data-email="@us.email"
                           data-controller="SuperAdmin"
                           data-action="DeleteAdminAsync"
                           data-body-message="@localizer["ConfirmMessage"] @us.userName?">
                                @localizer["Delete"]
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

